.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  max-width: 38rem;
  max-height: 52.4rem;
  padding: 4.8rem;

  border-radius: 1rem;
  box-shadow: 5px 20px 50px 0 rgb(16 112 177 / 20%);

  &__img {
    overflow: visible;
    max-height: 13.2rem;
  }

  &__subtitle {
    margin-top: 5.6rem;

    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    color: #1f3f68;
    letter-spacing: 1px;
  }

  &__description {
    margin-top: 1.6rem;

    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: #1f3f68;
    letter-spacing: 0.8px;

    opacity: 0.6;
  }

  &__more {
    cursor: pointer;

    display: flex;
    gap: 2.4rem;
    align-items: center;

    width: 100%;
    margin-top: 3.2rem;

    font-size: 1.4rem;
    font-weight: 600;
    line-height: 3rem;
    color: #5a98d0;
    letter-spacing: 0.7px;

    &:hover {
      .card__arrow {
        transform: translateX(1.5rem);
      }
    }
  }

  &__arrow {
    transition: transform 0.5s;
  }
}

#card-man-second {
  transform: translateY(-30%);
}
