.header {
  position: absolute;
  z-index: 10;

  display: flex;
  justify-content: space-between;

  width: 100%;

  // width: torem(1200);
  // height: torem(48);
  padding: torem(40) torem(83);

  &__logo {
    width: torem(48);
  }
}

.burger {
  position: relative;
  width: torem(32);
  height: torem(32);

  &::before {
    content: '';

    position: absolute;
    top: 0;

    width: torem(30);
    height: torem(2);

    background-color: black;
  }

  &::after {
    content: '';

    position: absolute;
    bottom: 0;

    width: torem(30);
    height: torem(2);

    background-color: black;
  }
}
