.header {
  position: fixed;
  z-index: 10;
  top: torem(40);

  // left: 50%;
  // transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: calc($header-width * 100% / $main-width);

  &__logo {
    width: torem(48);
  }
}

.burger {
  position: relative;
  width: torem(32);
  height: torem(32);

  &::before {
    content: '';

    position: absolute;
    top: 0;

    width: torem(32);
    height: torem(2);

    background-color: black;
  }

  &::after {
    content: '';

    position: absolute;
    bottom: 0;

    width: torem(32);
    height: torem(2);

    background-color: black;
  }

  &:hover {
    cursor: pointer;
  }

  span {
    position: absolute;
    top: torem(16);

    width: torem(32);
    height: torem(2);

    background-color: black;
  }

  &_active {
    &::before {
      content: '';

      position: absolute;
      top: 45%;
      transform: rotate(45deg);

      width: torem(32);
      height: torem(2);

      background-color: black;
    }

    &::after {
      content: '';

      position: absolute;
      bottom: 50%;
      transform: rotate(-45deg);

      width: torem(32);
      height: torem(2);

      background-color: black;
    }

    span {
      display: none;
    }
  }
}
