.pillars {
  display: grid;
  grid-template-areas: 'pillars-right pillars-right';
  grid-template-columns: [start] 1fr [line1] 1fr [end];
  gap: 10rem;

  padding: 19rem 21.2rem;

  &-left {
    display: grid;
    grid-template: 0.25fr 0.7fr / 1fr;
    grid-template-areas:
      'pillars__title'
      'card-1';

    .card {
      justify-self: end;
    }
  }

  &-right {
    display: grid;
    grid-template-areas:
      'card-2'
      'card-3';
    grid-template-columns: 1fr;
    gap: 10rem;
  }

  &__title {
    grid-area: 'pillars__title';

    width: 100%;

    font-size: 3.6rem;
    font-weight: 600;
    line-height: 4.6rem;
    color: #316099;
    letter-spacing: 1.8px;
  }
}
